<% if (!@id) %>
	<h2>All users: </h2>
	<ul>

		<% @users.each do |user| %>
			<li><%= user.inspect %></li>
		<% end %>
	</ul>
<% else %>
	<h2><%= @name %>'s Classes</h2>
	<ul>
		<% @user.courses.each do |course| %>
			<li><%= course.inspect %></li>
		<% end %>
	</ul>

	<p>
		<%= link_to "Add/Edit Classes", {:controller => :courses, :action => :new} %>
	</p>
<% end %>

<h2>Completed Reqs</h2>
<ul>
	<% @completed_reqs.each do |req| %>
		<li><%= req.inspect %></li>
	<% end %>
</ul>
	

<h2>Not Completed Reqs</h2>
<ul>
	<% @todo_reqs.each do |req| %>
		<li><%= req.inspect %></li>
	<% end %>
</ul>

<h2>All Courses: </h2>
<ul>

	<% @all_courses.each do |course| %>
		<li><%= course.inspect %></li>
	<% end %>
</ul>

