<div class="users_classes">
	<h2 class=""><%= @usr.name %>'s Classes</h2>
	<%= render partial: "course", collection: @usr.courses, as: :course %>
</div>

<%= form_tag({:action=>"index"}, :method=>"get") do %>
	<%= label_tag(:q, "Search for Classes") %>
	<%= text_field_tag("search") %>
<% end %>

<div id="search_results">
		<%= render partial: "course", collection: @searchResults, as: :course  %>
</div>


<div class="hide reqs_by_completion">
	<h2>Completed Reqs</h2>
	<ul>
		<% @completed_reqs.each do |req| %>
			<li><%= req.inspect %></li>
		<% end %>
	</ul>
	<h2>Not Completed Reqs</h2>
	<ul>
		<% @todo_reqs.each do |req| %>
			<li><%= req.inspect %></li>
		<% end %>
	</ul>
</div>
