<div class="users_classes">
	<h2 class=""><%= @usr.name %>'s Classes</h2>
	<%= render partial: "course", collection: @usr.courses, as: :course %>
</div>

<%= form_tag({:action=>"index"}, :method=>"get") do %>
	<%= label_tag(:q, "Search for Classes") %>
	<%= text_field_tag("search") %>
<% end %>

<div id="search_results">
		<%= render partial: "course", collection: @searchResults, as: :course  %>
</div>