<div class="second" id="second-req1-<%= @count %>">
	<table cellspacing="none">
		<tr>
			<td class="thirty">
				<span id="big-req1-<%= @count %>" class="big req1 <%= status %>">
					<%= req1.name %>
				</span>
			</td>
			<td>
				<span class="opt1">
					<% if show_orc %>
						<%= render partial: "orc", locals: {req1: req1} %>
					<% else %>
						<%= render partial: "zip", locals: {root: req1} %>
					<% end %>
				</span>
			</td>
		</tr>
	</table>
</div>