<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
    lang="en">
	<head>
		<title><%= @title %></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
	  	<%= javascript_include_tag "application" %>
	  	<%= csrf_meta_tags %>
	</head>

	<body>
		<div class="head">
			<span class="hd1"><%= link_to "Welcome!", {:controller => :explore, :action => :index}, :class=>:hd1 %></span>
			<% if @loggedIn %>
				<span class="hd3"><%= link_to "Logout", {:controller => :users, :action => :logout}, :class=>:hd4 %></span>
				<span class="hd2">Hi <%= link_to @usr.name + "!", {:controller => :users, :action => :index}, :class=>:hd4 %></span>
			<% else %>
				<span class="hd3"><%= link_to "Login", {:controller => :users, :action => :login}, :class=>:hd4 %></span>
			<% end %>
			
		</div>
		<%= yield %>
		<div class="foot">This page is made possible by Michael Lipman and viewers like you</div>
	</body>
</html>